@using Microsoft.AspNetCore.Identity
@using WebBanHangOnline.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Cart" asp-action="Index">
            <i class="fa-solid fa-cart-shopping"></i> Giỏ hàng
        </a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i> Chào @UserManager.GetUserName(User)!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-controller="Order" asp-action="MyOrders">Đơn hàng của tôi</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="Dashboard">Trang quản trị</a></li>
                }
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="dropdown-item">
                            <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li>
    }
</ul>
